@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply flex flex-col bg-zinc-900 text-shadow-white text-zinc-100 min-h-screen justify-items-start;
  }

  body > main,
  body > header {
    @apply px-[10vw] flex-none;
  }

  body > main {
    @apply mt-4 mb-8;
  }

  body > main > article {
    @apply prose prose-invert;
  }

  body > footer {
    @apply flex-[100%];
  }
}

@layer utilities {
  .font-headline {
    @apply font-sans;
    font-family: "Tilt Warp Variable";
  }

  .font-name {
    @apply text-zinc-200 lowercase font-mono font-light tracking-tight;
  }

  .marquee {
    overflow: hidden;
  }
  .marquee-track {
    display: flex;
    padding-left: 3rem;
    gap: 3rem;
    width: max-content;
    animation-name: marquee-move-text;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: normal;
    will-change: transform;
  }

  .marquee-track:nth-of-type(even) {
    animation-name: marquee-move-text-reverse;
  }

  .marquee-track:hover {
    animation-play-state: paused;
  }

  .marquee:hover .marquee-track:not(:hover) {
    animation-play-state: paused;
    opacity: 0.5;
  }

  @keyframes marquee-move-text {
    50% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes marquee-move-text-reverse {
    0% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}
