---
import "@fontsource-variable/tilt-warp";
import "@/styles/global.css";
import Header from "@/components/header";

const { headline, title, href, color } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header name={headline} color={color} href={href} />
    <main>
      <slot />
    </main>
  </body>
</html>
